snippet ps "Print a char*" b
printf("${1:variable}: %s \n", $1);
endsnippet

snippet pc "Print a char" b
printf("${1:variable}: %c \n", $1);
endsnippet

snippet p "Printf" b
printf("${1:Message} \n");
endsnippet

snippet pi "Print a int" b
printf("${1:variable}: %i \n", $1);
endsnippet

snippet pf "Print a float" b
printf("${1:variable}: %f \n", $1);
endsnippet
